body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  min-height: 315px;
  width: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}

button, button:hover, button:focus, button:active {
  outline: none;
  box-shadow: unset;
  font-size: 12px !important;
}

body {
  background: #eeeeee;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 0;
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(83, 83, 83, .2);
  font-size: 14px;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
  text-align: center;
}

.card img {
  max-height: 315px;
}

.overview {
  visibility: hidden;
  overflow-y: scroll;
  height: 0;
  opacity: 0;
  transition: all .2s linear;
}

.overview--active {
  visibility: visible;
  height: 150px;
  opacity: 1;
  transition: all .2s linear;
}

.rate {
  display: flex;
  display: contents;
  justify-content: center;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
}

.tabs li {
  margin: 0 15px 0 0;
}

.nav-link {
  background: #bbbbbb;
  cursor: pointer;
  transition: all .2s linear;
}
.nav-link:hover {
  cursor: pointer;
  transition: all .2s linear;
}
