body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
  box-shadow: unset;
  font-size: 12px !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  border: 0px;
}

.card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75px;
}

.overview {
  height: 0;
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
  transition: all 0.2s linear;
}

.overview--active {
  height: 150px;
  opacity: 1;
  transition: all 0.2s linear;
  visibility: visible;
}

.rate {
  display: flex;
  justify-content: center;
  display: contents;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.tabs li {
  margin: 0 15px 0 0;
}
